.gallery {
    background-color:  $color-black;
    transform: translateY(-40rem);
    // @supports (clip-path:0 polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    //     -webkit-clip-path: polygon(0 0, 100% 30vh, 100% 55vh, 0 100%); /* >> x y << Every "," is a line of the box */
    //     -moz-clip-path: polygon(0 0, 100% 30vh, 100% 55vh, 0 100%); /* >> x y << Every "," is a line of the box */
    //     clip-path: polygon(0 0, 100% 30vh, 100% 55vh, 0 100%); /* >> x y << Every "," is a line of the box */
    
    //     height: 95vh; /* number * VH means viewport hight */

    // }

        @include respond(ipad) {
        transform: translateY(-60rem);
        height: 60rem;
        //     @supports (clip-path:0 polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        //         -webkit-clip-path: polygon(0 0, 100% 30vh, 100% 70vh, 0 100%); /* >> x y << Every "," is a line of the box */
        //         -moz-clip-path: polygon(0 0, 100% 30vh, 100% 70vh, 0 100%); /* >> x y << Every "," is a line of the box */
        //         clip-path: polygon(0 0, 100% 30vh, 100% 70vh, 0 100%); /* >> x y << Every "," is a line of the box */
            
        //         height: 105vh; /* number * VH means viewport hight */
        // } 
      }


      @include respond(iphone-plus) {
        transform: translateY(5rem);

        height: 95rem;

    //     @supports (clip-path:0 polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    //         -webkit-clip-path: polygon(0 0, 100% 15vh, 100% 150vh, 0 100%); /* >> x y << Every "," is a line of the box */
    //         -moz-clip-path: polygon(0 0, 100% 15vh, 100% 150vh, 0 100%); /* >> x y << Every "," is a line of the box */
    //         clip-path: polygon(0 0, 100% 15vh, 100% 150vh, 0 100%); /* >> x y << Every "," is a line of the box */
        
    //         height: 170vh; /* number * VH means viewport hight */
    //   }
    }

    &__content {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        //padding-left: 10rem;
        padding-left: 10%;
        padding-right: 10%;

        @include respond(ipad) {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 5%;
            padding-right: 5%;
        }

        @include respond(iphone-plus) {
            grid-template-columns: 1fr;
        }
    }


    &__one, &__two, &__three {
        //height: 40vh;
        display: flex;  
        align-items: center;
        justify-content: center;
        align-content: center;
        //transform: translateY(27vh);

        filter: grayscale(100%);
        transition: all ease 0.5s;

        text-align: center;
        

        p {
            color: $color-white;
            font-size: 3rem;
            transition: all ease 0.4s;
        }

        &:hover {
            filter: grayscale(0%);
            

            p {
                opacity: 0;
                transform: translateY(3rem);
            }
        }

        @include respond(ipad) {
            //transform: translateY(18vh);

            p {
                font-size: 2.5rem;
            }
        }

        @include respond(iphone-plus) {
            p {
                font-size: 2.2rem;
            }
        }
    }

    &__one, &__three {
        //transform: translateY(20vh);
        //padding-left: 5rem;
        padding-top: 5%;
              
        img {

            width: 100%;
        }

        p {
            transform: translateY(-550%);
        }

        @include respond(ipad) {
            padding-top: 20%;

            img {
                width: 90%;
            }

            p {
                //transform: translateY(-18rem);
            }
            
        }

        @include respond(iphone-plus) {
            p {
                transform: translateY(-16rem);
            }
        }
    }

    // &__two {
    //     //transform: translateY(30rem);
    //     img {
    //         width: 75%;
    //     }

    //     p {
    //         transform: translateY(-20rem);
    //     }

    //     margin-left: 5rem;

    //     @include respond(ipad) {
    //         margin-left: 0;
    //         margin-top: 15rem; 

    //         img {
    //            width: 90%;
    //         }

    //         p {
    //             transform: translateY(-18rem);
    //         }
    //     }

    //     @include respond(iphone-plus) {
            
    //         transform: translateY(1rem);

    //         p {
    //             transform: translateY(-16rem);
    //         }
            
    //     }
    // }

    // &__three {
    //     //transform: translateY(30rem);
    //     margin-right: 5rem;

    //     img {
    //         width: 60%;
    //     }

    //     p {
    //         transform: translateY(-17rem);
    //     }

    //     @include respond(ipad) {
    //         margin-right: 0; 
    //         transform: translateY(-1rem);
    //         img {
    //            width: 90%;
    //         }

    //         p {
    //             transform: translateY(-18rem);
    //         }
    //     }

    //     @include respond(iphone-plus) {
            
    //         transform: translateY(5rem);

    //         p {
    //             transform: translateY(-16rem);
    //         }
            
    //     }
    // }
}